/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	background-color: #232323;
	color: white;
}

#header {
	display: block;
	height: 4em;
	width: 100%;
	border-bottom: 1px solid #eee;
	background-color: #787878;
	padding: 0.5em;
	margin-bottom: 1em;
}

@keyframes dance {
	0% {
		top: 0px;
		color: white;
	}
	50% {
		top: 10px;
		color: #bbffbb;
	}
	100% {
		top: 0px;
		color: white
	}
}

@-webkit-keyframes dance {
	0% {
		top: 0px;
		color: white;
	}
	50% {
		top: 10px;
		color: #bbffbb;
	}
	100% {
		top: 0px;
		color: white
	}
}

#location {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 50%;
	animation: dance 5s linear 2s infinite;
	-webkit-animation: dance 5s linear 2s infinite;
}

#content {
	padding: 0.5em;
}

h1 {
	display: block;
	font-size: 200%;
	-webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255,255,255,0.3) 0%, transparent 40%, transparent 100%);
	text-shadow: 0px 0px 6px rgba(239, 239, 239, 430);
}

table#keys {
	margin: 0.5em;
	border: 1px solid white;
}

table#keys td, th {
	border: 1px solid white;
	padding: 1em;
}

table#keys th {
	background-color: #caa;
}

a {
	color: #a6daff;
}

a:visited {
	color: #bca0ff;
}
